html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 40px;
}

h1 {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  margin: .2rem;
}

.orange-box {
  background-color: #d05c2e;
}

nav ul {
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  border-bottom: 1px solid #a63f38;
}

a {
  text-align: center;
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: .4rem 0;

}

.right {
  float: right;
  padding: .4rem 0;
}

.left {
  float: left;
  padding: .4rem 0;
}

.top-bar {
  border-bottom: 1px solid #a63f38;
  padding: .4rem 0;
}

.home {
  border-right: 1px solid #a63f38;
  padding: 0;
  float: left;
  width: 33%;
}

.legumes {
  border-left: 1px solid #a63f38;
  padding: 0;
  float: left;
  width: 33%;
}

.cereals {
  padding: 0;
  float: left;
  width: 33%;
}

a:hover {
  background-color: #a63f38;
}
